<app-error-alert *ngIf="error" [error]="error"></app-error-alert>
<h1 style="text-align: center">Most rated repositories for the last 30 days</h1>
<ul
  class="repository-list"
  appScrollContainer
  [reachedBottomCallBack]="userScrollDown"
  [isFirstLoad]="true"
  [hasMore]="hasMore">
  <li
    *ngFor="let repository of repositories"
    [@FadeInElement]>
    <app-repository-item [repository]="repository"></app-repository-item>
  </li>
  <li *ngIf="(repositories.length === 0 && !isLoading) || error">
    <em >No repositories data available. Please, reload the page to fetch data.</em>
  </li>
  <li
    *ngIf="isLoading"
    style="text-align: center">
    <app-loading-spinner></app-loading-spinner>
  </li>

</ul>
