$repository-height : 20vh;
$repository-width : 80vw;
.repository {
  color: white;
  background-color: rgb(0, 0, 15);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  align-items: stretch;
  width: $repository-width;
  margin: 10px 0 10px 0;
  padding: 10px;
  border-radius: 22px;
}

.avatar {
  height: 180px;
  text-align: center;
  margin-right: 20px;

}
.avatar > img {
  background-color: white;
  height: 180px;
  border-radius: 22px;
}
.content {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: stretch;
  flex-grow: 2;
}
.content-body {
  flex-grow: 2;
  max-width: 40vw;
}

.content-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
}

.stars {
  margin:{
    right: 15px;
  }
  padding: 5px;
  border: {
    style: solid;
    color: white;
    width: 1px;
  };

}
.issues {
  margin : {
    right: 15px;
  }
  padding: 5px;
  border: {
    style: solid;
    color: white;
    width: 1px;
  };

}
.statistics{
  margin-right: 20px;
  flex-basis: 30%;
}
.submission {
  padding: 5px;
  flex-basis: 60%;

}

.content-title > h1 {
  margin: 0;
}
